<!DOCTYPE html>
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width"
    title
      include(input.title)
  body
    header
      img.logo src="./logo.png" alt="marko logo"
      h1
        include(input.title)
      nav.menu
        a href="/" -- home
        a href="/hello/routing" -- routes
        a href="/layouts" -- layouts
    div.content
      include(input.content)
